/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Reset body styles and set overall page styles */
body {
  margin: 0;
  padding: 2rem 5rem;
  text-align: center;
  background-color: #8e8e8e; /* Light gray background */
  color: #333; /* Dark gray text */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Add some space between elements */
.space {
  margin-bottom: 1rem;
}

.product-details {
  height: 420px; /* ลดความสูง */
  align-items: center;
  background-color: #a09c9c; /* White background */
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Style the form container */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* White background */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Style form inputs and buttons */
.form input, .form button {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #cbcaca; /* Light border */
  border-radius: 4px;
}

.form button {
  background-color: #009218; /* Blue button */
  color: #ffffff;
  height: 37px;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #000000; /* Darker blue on hover */
}

